body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    width: 220px;
    box-shadow: 0 3rem 5rem rgba(132, 139, 200, 0.2);
    transition: box-shadow 0.3s ease;
}

.sidebar:hover {
    box-shadow: none;
  }

.sidebar-sticky {
    padding: 20px;
}

.nav-link {
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    background-color: #9ccbfa;
}

.nav-link.active {
    background-color: #9ccbfa;
    border-radius: 20px;
}

main {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

canvas {
    border: 2px solid #343a40;
    background-color: #fff;
}

.form-control {
    margin-bottom: 10px;
}

#brushSize {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

a.nav-link:hover {
    color: #000000;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        z-index: 1000;
        position: relative;
    }

    main {
        margin-left: 0;
    }

    canvas {
        width: 100%;
    }
}
