body {
    margin: 0;
    font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
  .preloader h1 {
    font-size: 5rem;
    color: black;
    opacity: 1;
    transition: opacity 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preloader img {
    width: 150px;
    height: 150px;
    opacity: 1;
    transition: opacity 1s ease-out;
    margin-right: 10px;
  }
  
  .fade-out {
    opacity: 0;
  }

.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    width: 220px;
    box-shadow: 0 3rem 5rem rgba(132, 139, 200, 0.2);
    transition: box-shadow 0.3s ease;
}

.sidebar:hover {
    box-shadow: none;
  }

.sidebar-sticky {
    padding: 20px;
}

.nav-link {
    color: #000000;
    font-size: 1.1rem;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    background-color: #9ccbfa;
}

.nav-link.active {
    background-color: #9ccbfa;
    border-radius: 20px;
}

main {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

canvas {
    border: 2px solid #343a40;
    background-color: #fff;
}

.form-control {
    margin-bottom: 10px;
}

#brushSize {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

a.nav-link:hover {
    color: #000000;
    border-radius: 20px;
}

a.nav-item:last-child {
    bottom: 5px;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.github-link {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.sidebar-sticky {
    position: relative;
    height: 100%;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        z-index: 1000;
        position: relative;
    }

    main {
        margin-left: 0;
    }

    canvas {
        width: 100%;
    }

    .preloader h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .hamburger-menu {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1001;
    }

    .hamburger-menu button {
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .mobile-sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #343a40;
        z-index: 1000;
        transition: left 0.3s ease;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .mobile-sidebar ul {
        padding: 0;
        list-style-type: none;
    }

    .mobile-sidebar .nav-link {
        color: #ffffff;
    }

    .mobile-sidebar .nav-link:hover {
        color: #9ccbfa;
    }

    .mobile-sidebar .nav-link.active {
        background-color: #9ccbfa;
    }

    .mobile-sidebar #closeBtn {
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .preloader h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3rem;
    }
}
